body {
	margin: 0;
	font-size: 12px;
	color: rgb(48, 57, 66);

	height: auto;

	margin-left: auto;
    margin-right: auto;
    width: 1000px;
    font-size: 1.25em;
    font-family: 'Khula', 'sans-serif' !important;
}

#logo{
	width: 191px;
	height:70px;
	background-image: url('../img/hebbia_text.png');
	background-size: contain;
	margin: 30px 0 0 0;
	display: block;
}

.title_wrapper{
	width: 482px;
	height: 100px;
	display: flex;
}

#title_right{
	width: 291px;
	height: 70px;
	margin: 40px 10px 0px 10px;
	display:block;
}

#title_right > h1 {
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1;
	margin: 21px 0 14px;
	user-select: none;
	-webkit-user-select: none;
}

#container {
	border-left: 1px solid white;
	border-right: 1px solid white;
	box-shadow: 0px 0px 40px 0px rgba(198,203,222,.45);
	min-height: 100vh;
	height: 100%;
	padding: 0px 42px;
}

a {
    color: #5ee4fe;
}

a:visited {
    color: #34ceec;
}

ol {
	margin: 0;
	padding: 0;
	counter-reset: list;
}

li {
	color: #000000;
	font-size: 11pt;
}

ol > li {
	margin-left: 0pt;
	padding-top: 0pt;
	list-style-position: inside;
	text-indent: 45pt;
	padding-bottom: 12pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: justify
}

ol > ol > li {
	list-style: none;
    position: relative;
	margin-left: 36pt;
	padding-top: 0pt;
	text-indent: 90pt;
	padding-bottom: 12pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: justify
}

ol > ol > li:before {
    counter-increment: list;
    content: "(" counter(list, lower-alpha) ") ";
    position: absolute;
    left: -2em;
}

ol > ol > p {
	margin-left: 36pt
}

p {
	margin: 0;
	font-size: 14pt;
	padding-top: 0pt;
	padding-bottom: 12pt;
	line-height: 1.5;
	orphans: 2;
	widows: 2;
	text-align: justify
}

.c2 {
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-style: normal
}

.c3 {
	-webkit-text-decoration-skip: none;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

.c1 {
	font-weight: 400;
}

.c4 {
	font-weight: 700;
}

.terms_content {
	margin-top: 20pt;
}

#main_list {
	margin-bottom: 0;
	padding-bottom: 12pt;
}
